# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

profile_results
valgrind.txt
callgrind.txt
results
.idea/
Debug/
Release/
backup/
experiment*
output-*
log-*
plot_*.sh
